<div id="<%= dom_id receden_drug %>">
  <p>
    <strong>ID:</strong>
    <%= receden_drug.id %>
  </p>

  <p>
    <strong>変更区分:</strong>
    <%= receden_drug.update_category %>
  </p>

  <p>
    <strong>マスター種別:</strong>
    <%= receden_drug.master_type %>
  </p>

  <p>
    <strong>医薬品コード:</strong>
    <%= receden_drug.drug_code %>
  </p>

  <p>
    <strong>漢字有効桁数:</strong>
    <%= receden_drug.kanji_len %>
  </p>

  <p>
    <strong>漢字名称:</strong>
    <%= receden_drug.kanji_name %>
  </p>

  <p>
    <strong>カナ有効桁数:</strong>
    <%= receden_drug.kana_len %>
  </p>

  <p>
    <strong>カナ名称:</strong>
    <%= receden_drug.kana_name %>
  </p>

  <p>
    <strong>単位コード:</strong>
    <%= receden_drug.unit_code %>
  </p>

  <p>
    <strong>単位桁数:</strong>
    <%= receden_drug.unit_len %>
  </p>

  <p>
    <strong>単位名称:</strong>
    <%= receden_drug.unit_name %>
  </p>

  <div>
    <strong>新あるいは現行金額</strong>
  <p>
    <strong>種別:</strong>
    <%= receden_drug.price_category %>
  </p>

  <p>
    <strong>金額:</strong>
    <%= receden_drug.price %>
  </p>
  </div>

  <p>
    <strong>予備:</strong>
    <%= receden_drug.reserved13 %>
  </p>

  <p>
    <strong>麻薬・毒薬・覚醒剤原料・向精神薬:</strong>
    <%= receden_drug.narcotics_category %>
  </p>

  <p>
    <strong>神経破壊剤:</strong>
    <%= receden_drug.nerve_destroying %>
  </p>

  <p>
    <strong>生物学的製剤:</strong>
    <%= receden_drug.bio %>
  </p>

  <p>
    <strong>後発品:</strong>
    <%= receden_drug.generic %>
  </p>

  <p>
    <strong>予備:</strong>
    <%= receden_drug.reserved18 %>
  </p>

  <p>
    <strong>歯科特定薬剤:</strong>
    <%= receden_drug.dent_specific %>
  </p>

  <p>
    <strong>造影（補助）剤:</strong>
    <%= receden_drug.enhancer %>
  </p>

  <p>
    <strong>注射容量:</strong>
    <%= receden_drug.injection_volume %>
  </p>

  <p>
    <strong>収載方式等識別:</strong>
    <%= receden_drug.registration_category %>
  </p>

  <p>
    <strong>商品名等関連:</strong>
    <%= receden_drug.product_name_code %>
  </p>

  <div>
    <strong>旧金額:</strong>    
  <p>
    <strong>種別:</strong>
    <%= receden_drug.old_price_category %>
  </p>

  <p>
    <strong>金額:</strong>
    <%= receden_drug.old_price %>
  </p>
  </div>
  <p>
    <strong>漢字名称変更区分:</strong>
    <%= receden_drug.kanji_update_category %>
  </p>

  <p>
    <strong>カナ名称変更区分:</strong>
    <%= receden_drug.kana_update_category %>
  </p>

  <p>
    <strong>剤形:</strong>
    <%= receden_drug.drug_form %>
  </p>

  <p>
    <strong>予備:</strong>
    <%= receden_drug.reserve29 %>
  </p>

  <p>
    <strong>変更年月日:</strong>
    <%= receden_drug.updated_date %>
  </p>

  <p>
    <strong>廃止年月日:</strong>
    <%= receden_drug.abolition_date %>
  </p>

  <p>
    <strong>薬価基準収載医薬品コード:</strong>
    <%= receden_drug.mhlwcode %>
  </p>

  <p>
    <strong>公表順序番号:</strong>
    <%= receden_drug.publication_order %>
  </p>

  <p>
    <strong>経過措置年月日又は商品名医薬品コード使用期限:</strong>
    <%= receden_drug.expiration_date %>
  </p>

  <p>
    <strong>基本漢字名称:</strong>
    <%= receden_drug.product_name %>
  </p>

</div>
