<div id="<%= dom_id hotcode %>">
  <p>
    <strong>Standard hot:</strong>
    <%= hotcode.standard_hot %>
  </p>

  <p>
    <strong>Hot7:</strong>
    <%= hotcode.hot7 %>
  </p>

  <p>
    <strong>Manufacturer code:</strong>
    <%= hotcode.manufacturer_code %>
  </p>

  <p>
    <strong>Preparation code:</strong>
    <%= hotcode.preparation_code %>
  </p>

  <p>
    <strong>Logistics code:</strong>
    <%= hotcode.logistics_code %>
  </p>

  <p>
    <strong>Jan:</strong>
    <%= hotcode.jan %>
  </p>

  <p>
    <strong>Mhlw:</strong>
    <%= hotcode.mhlw %>
  </p>

  <p>
    <strong>Yj:</strong>
    <%= hotcode.yj %>
  </p>

  <p>
    <strong>Receden code1:</strong>
    <%= hotcode.receden_code1 %>
  </p>

  <p>
    <strong>Receden code2:</strong>
    <%= hotcode.receden_code2 %>
  </p>

  <p>
    <strong>Notice:</strong>
    <%= hotcode.notice %>
  </p>

  <p>
    <strong>Product name:</strong>
    <%= hotcode.product_name %>
  </p>

  <p>
    <strong>Receden name:</strong>
    <%= hotcode.receden_name %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= hotcode.unit %>
  </p>

  <p>
    <strong>Package style:</strong>
    <%= hotcode.package_style %>
  </p>

  <p>
    <strong>Package unit num:</strong>
    <%= hotcode.package_unit_num %>
  </p>

  <p>
    <strong>Package unit unit:</strong>
    <%= hotcode.package_unit_unit %>
  </p>

  <p>
    <strong>Total package unit num:</strong>
    <%= hotcode.total_package_unit_num %>
  </p>

  <p>
    <strong>Total package unit unit:</strong>
    <%= hotcode.total_package_unit_unit %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= hotcode.category %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= hotcode.manufacturer %>
  </p>

  <p>
    <strong>Seller:</strong>
    <%= hotcode.seller %>
  </p>

  <p>
    <strong>Update category:</strong>
    <%= hotcode.update_category %>
  </p>

  <p>
    <strong>Update date:</strong>
    <%= hotcode.update_date %>
  </p>

</div>
