<div id="<%= dom_id hotcode %>">
  <p>
    <strong>ID:</strong>
    <%= hotcode.id %>
  </p>

  <p>
    <strong>基準番号（ＨＯＴコード）:</strong>
    <%= hotcode.standard_hot %>
  </p>

  <p>
    <strong>処方用番号（ＨＯＴ７）:</strong>
    <%= hotcode.hot7 %>
  </p>

  <p>
    <strong>会社識別用番号:</strong>
    <%= hotcode.manufacturer_code %>
  </p>

  <p>
    <strong>調剤用番号:</strong>
    <%= hotcode.preparation_code %>
  </p>

  <p>
    <strong>物流用番号:</strong>
    <%= hotcode.logistics_code %>
  </p>

  <p>
    <strong>ＪＡＮコード:</strong>
    <%= hotcode.jan %>
  </p>

  <p>
    <strong>薬価基準収載医薬品コード:</strong>
    <%= hotcode.mhlw %>
  </p>

  <p>
    <strong>個別医薬品コード:</strong>
    <%= hotcode.yj %>
  </p>

  <p>
    <strong>レセプト電算処理システムコード（１）:</strong>
    <%= hotcode.receden_code1 %>
  </p>

  <p>
    <strong>レセプト電算処理システムコード（２）:</strong>
    <%= hotcode.receden_code2 %>
  </p>

  <p>
    <strong>告示名称:</strong>
    <%= hotcode.notice %>
  </p>

  <p>
    <strong>販売名:</strong>
    <%= hotcode.product_name %>
  </p>

  <p>
    <strong>レセプト電算処理システム医薬品名:</strong>
    <%= hotcode.receden_name %>
  </p>

  <p>
    <strong>規格単位:</strong>
    <%= hotcode.unit %>
  </p>

  <p>
    <strong>包装形態:</strong>
    <%= hotcode.package_style %>
  </p>

  <p>
    <strong>包装単位数:</strong>
    <%= hotcode.package_unit_num %>
  </p>

  <p>
    <strong>包装単位単位:</strong>
    <%= hotcode.package_unit_unit %>
  </p>

  <p>
    <strong>包装総量数:</strong>
    <%= hotcode.total_package_unit_num %>
  </p>

  <p>
    <strong>包装総量単位:</strong>
    <%= hotcode.total_package_unit_unit %>
  </p>

  <p>
    <strong>区分:</strong>
    <%= hotcode.category %>
  </p>

  <p>
    <strong>製造会社:</strong>
    <%= hotcode.manufacturer %>
  </p>

  <p>
    <strong>販売会社:</strong>
    <%= hotcode.seller %>
  </p>

  <p>
    <strong>更新区分:</strong>
    <%= hotcode.update_category %>
  </p>

  <p>
    <strong>更新年月日:</strong>
    <%= hotcode.update_date %>
  </p>

</div>
