<div id="<%= dom_id receden_medication %>">
  <p>
    <strong>Update cat:</strong>
    <%= receden_medication.update_cat %>
  </p>

  <p>
    <strong>Master type:</strong>
    <%= receden_medication.master_type %>
  </p>

  <p>
    <strong>Drug code:</strong>
    <%= receden_medication.drug_code %>
  </p>

  <p>
    <strong>Kanji len:</strong>
    <%= receden_medication.kanji_len %>
  </p>

  <p>
    <strong>Kanji name:</strong>
    <%= receden_medication.kanji_name %>
  </p>

  <p>
    <strong>Kana len:</strong>
    <%= receden_medication.kana_len %>
  </p>

  <p>
    <strong>Kana name:</strong>
    <%= receden_medication.kana_name %>
  </p>

  <p>
    <strong>Unit code:</strong>
    <%= receden_medication.unit_code %>
  </p>

  <p>
    <strong>Unit len:</strong>
    <%= receden_medication.unit_len %>
  </p>

  <p>
    <strong>Unit name:</strong>
    <%= receden_medication.unit_name %>
  </p>

  <p>
    <strong>Price category:</strong>
    <%= receden_medication.price_category %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= receden_medication.price %>
  </p>

  <p>
    <strong>Reserved13:</strong>
    <%= receden_medication.reserved13 %>
  </p>

  <p>
    <strong>Narcotics category:</strong>
    <%= receden_medication.narcotics_category %>
  </p>

  <p>
    <strong>Nerve destroying:</strong>
    <%= receden_medication.nerve_destroying %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= receden_medication.bio %>
  </p>

  <p>
    <strong>Generic:</strong>
    <%= receden_medication.generic %>
  </p>

  <p>
    <strong>Reserved18:</strong>
    <%= receden_medication.reserved18 %>
  </p>

  <p>
    <strong>Dent specific:</strong>
    <%= receden_medication.dent_specific %>
  </p>

  <p>
    <strong>Enhancer:</strong>
    <%= receden_medication.enhancer %>
  </p>

  <p>
    <strong>Injection volume:</strong>
    <%= receden_medication.injection_volume %>
  </p>

  <p>
    <strong>Registration category:</strong>
    <%= receden_medication.registration_category %>
  </p>

  <p>
    <strong>Product name code:</strong>
    <%= receden_medication.product_name_code %>
  </p>

  <p>
    <strong>Old price category:</strong>
    <%= receden_medication.old_price_category %>
  </p>

  <p>
    <strong>Old price:</strong>
    <%= receden_medication.old_price %>
  </p>

  <p>
    <strong>Kanji update category:</strong>
    <%= receden_medication.kanji_update_category %>
  </p>

  <p>
    <strong>Kana update category:</strong>
    <%= receden_medication.kana_update_category %>
  </p>

  <p>
    <strong>Drug form:</strong>
    <%= receden_medication.drug_form %>
  </p>

  <p>
    <strong>Reserve29:</strong>
    <%= receden_medication.reserve29 %>
  </p>

  <p>
    <strong>Updated date:</strong>
    <%= receden_medication.updated_date %>
  </p>

  <p>
    <strong>Abolition date:</strong>
    <%= receden_medication.abolition_date %>
  </p>

  <p>
    <strong>Mhlwcode:</strong>
    <%= receden_medication.mhlwcode %>
  </p>

  <p>
    <strong>Publication order:</strong>
    <%= receden_medication.publication_order %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= receden_medication.expiration_date %>
  </p>

  <p>
    <strong>Product name:</strong>
    <%= receden_medication.product_name %>
  </p>

</div>
