<p style="color: green"><%= notice %></p>

<%= render @receden_medication %>

<div>
  <%= link_to "Edit this receden medication", edit_receden_medication_path(@receden_medication) %> |
  <%= link_to "Back to receden medications", receden_medications_path %>

  <%= button_to "Destroy this receden medication", @receden_medication, method: :delete %>
</div>
