<div id="<%= dom_id receden_disease %>">
  <p>
    <strong>Update category:</strong>
    <%= receden_disease.update_category %>
  </p>

  <p>
    <strong>Master type:</strong>
    <%= receden_disease.master_type %>
  </p>

  <p>
    <strong>Disease code:</strong>
    <%= receden_disease.disease_code %>
  </p>

  <p>
    <strong>Transfer code:</strong>
    <%= receden_disease.transfer_code %>
  </p>

  <p>
    <strong>Disease base name len:</strong>
    <%= receden_disease.disease_base_name_len %>
  </p>

  <p>
    <strong>Disease base name:</strong>
    <%= receden_disease.disease_base_name %>
  </p>

  <p>
    <strong>Disease abbrv len:</strong>
    <%= receden_disease.disease_abbrv_len %>
  </p>

  <p>
    <strong>Disease abbrv name:</strong>
    <%= receden_disease.disease_abbrv_name %>
  </p>

  <p>
    <strong>Disease kana len:</strong>
    <%= receden_disease.disease_kana_len %>
  </p>

  <p>
    <strong>Disease kana name:</strong>
    <%= receden_disease.disease_kana_name %>
  </p>

  <p>
    <strong>Disease control num:</strong>
    <%= receden_disease.disease_control_num %>
  </p>

  <p>
    <strong>Adoption category:</strong>
    <%= receden_disease.adoption_category %>
  </p>

  <p>
    <strong>Exchange code:</strong>
    <%= receden_disease.exchange_code %>
  </p>

  <p>
    <strong>Icd-10-1:</strong>
    <%= receden_disease.icd-10-1 %>
  </p>

  <p>
    <strong>Icd-10-2:</strong>
    <%= receden_disease.icd-10-2 %>
  </p>

  <p>
    <strong>Icd-10-1 2013:</strong>
    <%= receden_disease.icd-10-1_2013 %>
  </p>

  <p>
    <strong>Icd-10-2 2013:</strong>
    <%= receden_disease.icd-10-2_2013 %>
  </p>

  <p>
    <strong>Reservation 18:</strong>
    <%= receden_disease.reservation_18 %>
  </p>

  <p>
    <strong>Stand alone prohibition:</strong>
    <%= receden_disease.stand_alone_prohibition %>
  </p>

  <p>
    <strong>Not claim:</strong>
    <%= receden_disease.not_claim %>
  </p>

  <p>
    <strong>Specific disease category:</strong>
    <%= receden_disease.specific_disease_category %>
  </p>

  <p>
    <strong>Registered date:</strong>
    <%= receden_disease.registered_date %>
  </p>

  <p>
    <strong>Updated date:</strong>
    <%= receden_disease.updated_date %>
  </p>

  <p>
    <strong>Disease base name update:</strong>
    <%= receden_disease.disease_base_name_update %>
  </p>

  <p>
    <strong>Disease name abbrv update:</strong>
    <%= receden_disease.disease_name_abbrv_update %>
  </p>

  <p>
    <strong>Disease kana update:</strong>
    <%= receden_disease.disease_kana_update %>
  </p>

  <p>
    <strong>Adoption category update:</strong>
    <%= receden_disease.adoption_category_update %>
  </p>

  <p>
    <strong>Exchange code update:</strong>
    <%= receden_disease.exchange_code_update %>
  </p>

  <p>
    <strong>Icd-10-1 update:</strong>
    <%= receden_disease.icd-10-1_update %>
  </p>

  <p>
    <strong>Icd-10-2 update:</strong>
    <%= receden_disease.icd-10-2_update %>
  </p>

  <p>
    <strong>Dental abbrv update:</strong>
    <%= receden_disease.dental_abbrv_update %>
  </p>

  <p>
    <strong>Nambyo category update:</strong>
    <%= receden_disease.nambyo_category_update %>
  </p>

  <p>
    <strong>Dental specific disease category:</strong>
    <%= receden_disease.dental_specific_disease_category %>
  </p>

  <p>
    <strong>Stand alone prohibition update:</strong>
    <%= receden_disease.stand_alone_prohibition_update %>
  </p>

  <p>
    <strong>Not claim update:</strong>
    <%= receden_disease.not_claim_update %>
  </p>

  <p>
    <strong>Specific disease update:</strong>
    <%= receden_disease.specific_disease_update %>
  </p>

  <p>
    <strong>Changed code:</strong>
    <%= receden_disease.changed_code %>
  </p>

  <p>
    <strong>Dental disease abbrv:</strong>
    <%= receden_disease.dental_disease_abbrv %>
  </p>

  <p>
    <strong>Reservation40:</strong>
    <%= receden_disease.reservation40 %>
  </p>

  <p>
    <strong>Reservation41:</strong>
    <%= receden_disease.reservation41 %>
  </p>

  <p>
    <strong>Nambyo outpatient category:</strong>
    <%= receden_disease.nambyo_outpatient_category %>
  </p>

  <p>
    <strong>Dental specific disease category:</strong>
    <%= receden_disease.dental_specific_disease_category %>
  </p>

  <p>
    <strong>Icd-10-1 2013 update:</strong>
    <%= receden_disease.icd-10-1_2013_update %>
  </p>

  <p>
    <strong>Icd-10-2 2013 update:</strong>
    <%= receden_disease.icd-10-2_2013_update %>
  </p>

</div>
